<?xml version="1.0" encoding="UTF-8"?>
<suite name="Appium and Selenium mobile test for Mewe.com" parallel="false" verbose="5">
    <test name="Sign up new user from mobile device" preserve-order="true">
        <classes>
            <class name="scenarios.ExampleMobileTest"/>
            <parameter name="email" value="testacct045@gmail.com"/>
            <parameter name="appPassword" value="Qwerty123"/>
            <parameter name="emailPassword" value="Testacct045password"/>
        </classes>
    </test>
</suite>